body {
  background-image: url('https://images.unsplash.com/photo-1416615267350-a82c5a347dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=44182812c263a852cb821834a8976242');
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  color: black;
  font-weight: bold;
}

.empty-row {
  padding: 2em;
}

h1 {
  font-family: "Gill Sans";
  font-size: 5em;
}

button {
  height: 12vh;
  width: 35vw;
  font-size: 2em;
  font-family: "Gill Sans";
  text-align: center;
  border-radius: 2rem;
  background: rgba(40, 40, 40, 0.8);
  color: #D0D0D0;
}

#create-pane {
  text-align: center;
}

#join-pane {
  text-align: center;
}

.keyField {
  height: 12vh;
  width: 35vw;
  font-size: 2em;
  font-family: "Gill Sans";
  text-align: center;
  border-radius: 2rem;
  background: rgba(40, 40, 40, 0.8);
  color: #D0D0D0;

}

#emailInput {
  margin-top: 1em;
  height: 7vh;
  width: 25vw;
  background: rgba(40, 40, 40, 0.8);
  color: #D0D0D0;
  font-family: "Gill Sans";
  display: none;
}

#keyCodeInput {
  margin-top: 1em;
  height: 7vh;
  width: 20vw;
  background: rgba(40, 40, 40, 0.8);
  color: #D0D0D0;
  font-family: "Gill Sans";
  display: none;
}

#joinChatSubmit {
  border: .2rem outset #66CD00;
  margin-left: 2em;
  width: 5vw;
  height: 7vh;
  background: rgba(40, 40, 40, 0.8);
  color: #66CD00;
  font-family: "Gill Sans";
  display: none;
}
