<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chatty Cathy</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>


<body>
  <div class="container-fluid">
    <div class="row empty-row">
    </div>
    <div class="row title">
      <h1><%= title %></h1>
    </div>
    <div class="row empty-row">
    </div>
    <div class="row empty-row">
    </div>
    <div class="row empty-row">
    </div>
    <div class="row">

      <div class="col-md-6" id="create-pane">
        <form action="/" method="post">
          <input type="button" class="button" id="create-button" value="Create Chatroom"></input>
          <div class="row">
            <input type="hidden" id="hRoomCode" name="roomCode" value="">
            <input type="text" name="email" id="emailInput" placeholder=" Input Email Addresses to Invite Others!"/>

            <input class="btn btn-default" type="submit" id="createChatSubmit" value="Send">
          </div>
        </form>
        <p><%=  %></p>
      </div>

      <div class="col-md-6" id="join-pane">
        <form action="/join" method="get">
          <input type="button" name="Join Chatroom" class="button" id="join-button" value="Join Chatroom"></input>
            <div class="row">
            <input type="text" name="name" id="keyCodeInput" placeholder=" Type in your key code to join chatroom"/><input class="btn btn-default" type="submit" id="joinChatSubmit" value="Submit">
            </div>
        </div>
        </form>
    </div>


  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="javascripts/homepage.js"></script>
</body>

</html>
